@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Welcome to Minnesota!</h1>
<br>
<h2>Population</h2>
<p>In 2020, the population of Minnesota was 5.6 million people.</p>
<h3>Largest Cities in 2020</h3>
<p>
    According to <a href="https://worldpopulationreview.com/states/cities/minnesota">World Population Review</a>, the 10 Largest Cities in Minnesota are:
    <ol>
        <li>Minneapolis, with 429,954 people</li>
        <li>St. Paul, with 311,527 people</li>
        <li>Rochester, with 121,395 people</li>
        <li>Bloomington, with 89,987 people</li>
        <li>Duluth, with 86,697 people</li>
        <li>Brooklyn Park, with 86,478 people</li>
        <li>Plymouth, with 	81,026 people</li>
        <li>Woodbury, with 75,102 people</li>
        <li>Maple Grove, with 70,253 people</li>
        <li>Blaine, with 70,222 people</li>
    </ol>
    All those cities adds up to 1,422,641 people, or 25.4% of the state population.
    <br>
    The rest of the state adds up to approximately 4,177,359 people, or 74.6% of the state population.
</p>