<p>
    Several paintings line the walls; some of them were created by students. <br>
    You also see newsboards for the individual departments on this floor.
</p>

@{await TowerHallSimulator.FourthFloorClasses.Main();}

<!--
    left side
-->
<!--Branch to 4400s--->
<!--4414: classroom on left side-->
<!--Branch to 4600s--->
<!--4605: classroom on right side-->
<!--4611: classroom on right side-->
<!--
    right side
-->
<!--4105: classroom-->
<a asp-action="double" asp-controller="FifthFloor">Double Classroom</a>
<br>
<!--4115: classroom-->
<a asp-action="single" asp-controller="FifthFloor">Single Conference Room</a>
<br>
<!--4119: classroom-->
<!--4125: classroom-->
<!--4141: classroom-->