@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6>Software Design, CIS 3285 500, Fall 2022</h6>
    <p>created by Veronica Poquette</p>
    <br>
    <p>
        This program provides a fun simulator of walking through Tower Hall as classes are in session. <br>
        You can use the different tabs to "walk" on different floors.
    </p>
</div>
