@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Confidentiality Notice: The content of this program is the proprietary and confidential property of The College of St. Scholastica, and should be treated as such. If you are not a member of the College, you are hereby notified that any dissemination, copying or distribution of this program or its contents is strictly prohibited. You may not review, copy or share this program; please delete this program from your system and notify me immediately at vpoquette@css.edu. Any unauthorized use or distribution of the content of this program is not permitted and may be illegal. Unless otherwise stated, opinions expressed in this program are those of the author and are not endorsed by The College.</p>
